// default configs for all pipelines; overrides per-pipeline configs

// ANALYSIS LOCATIONS
params.targets_bed = "targets.bed"
params.probes_bed = "probes.bed"
params.samples_analysis_sheet = "samples.analysis.tsv"
params.samples_fastq_sheet = "samples.fastq.tsv"


// REFERENCE FILES
params.ref_fa = "/ifs/data/sequence/results/external/NYU/snuderllab/ref/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
params.ref_fa_bwa_dir = "/ifs/data/sequence/results/external/NYU/snuderllab/ref/BWA/hg19"
params.ref_fai = "/ifs/data/sequence/results/external/NYU/snuderllab/ref/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
params.ref_dict = "/ifs/data/sequence/results/external/NYU/snuderllab/ref/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.dict"
params.ref_chrom_sizes = "/ifs/data/sequence/results/external/NYU/snuderllab/ref/Illumina/hg19/chrom.sizes"


// BINARY DEPENDENCIES
params.trimmomatic_jar = "/local/apps/trimmomatic/0.33/trimmomatic-0.33.jar"
params.trimmomatic_contaminant_fa = "/ifs/data/sequence/results/external/NYU/snuderllab/ref/contaminants/trimmomatic.fa"
params.sambamba_bin = "/ifs/home/id460/software/sambamba/sambamba_v0.6.7"
params.gatk_bin = "/ifs/data/molecpathlab/bin/GenomeAnalysisTK-3.8-0/GenomeAnalysisTK.jar"
params.gatk_bundle_dir = "/ifs/data/sequence/results/external/NYU/snuderllab/ref/gatk-bundle"
params.gatk_1000G_phase1_indels_hg19_vcf = "${params.gatk_bundle_dir}/1000G_phase1.indels.hg19.vcf"
params.mills_and_1000G_gold_standard_indels_hg19_vcf = "${params.gatk_bundle_dir}/Mills_and_1000G_gold_standard.indels.hg19.vcf"
params.dbsnp_ref_vcf = "${params.gatk_bundle_dir}/dbsnp_138.hg19.vcf"
params.cosmic_ref_vcf = "/ifs/data/sequence/results/external/NYU/snuderllab/ref/hg19/CosmicCodingMuts_v73.hg19.vcf"
params.lofreq_bin = "/ifs/home/id460/bin/lofreq"

// PROCESSES VALUES
params.beforeScript_str = 'printf "USER:\${USER:-none} JOB_ID:\${JOB_ID:-none} JOB_NAME:\${JOB_NAME:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD\n"; TIMESTART=\$(date +%s)'
params.afterScript_str = 'printf "elapsed time: %s\n" \$((\$(date +%s) - \${TIMESTART:-0}))'


// NEXTFLOW
process {
  executor='sge'
  queue='all.q'
  clusterOptions = '-cwd'

}

executor {
    queueSize = 250
}

report {
    enabled = true
    file = "nextflow.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem"
}
