// default params for the pipelines
params.input_dir = "sns-dir"
params.regions_bed = "targets.bed"
params.probes_bed = "probes.bed"

params.bam_bwa_dir = "${params.input_dir}/BAM-BWA"
params.bam_gatk_ra_rc_dir = "${params.input_dir}/BAM-GATK-RA-RC"

params.samples_fastq_raw_sheet = "${params.input_dir}/samples.fastq-raw.csv"
params.pairs_sheet = "${params.input_dir}/samples.pairs.csv"
params.variants_sheet = "${params.input_dir}/summary.VCF-GATK-HC-annot.csv"
params.variants_gatk_hc_dir = "${params.input_dir}/VCF-GATK-HC"

params.variants_gatk_hc_annot_dir = "${params.input_dir}/VCF-GATK-HC-annot"
// /ifs/data/molecpathlab/PNET_GYN/sns_WES/VCF-GATK-HC-annot/256.combined.txt

params.qc_coverage_dir = "${params.input_dir}/QC-coverage"
// sns-dir/QC-coverage/*.sample_interval_summary


// default analysis pipeline outut location
params.output_dir = "output"

// reference files, binaries, scripts
params.samtools_bin = "/ifs/data/molecpathlab/bin/samtools-1.3.1/samtools"
params.gatk_bin = "/ifs/data/molecpathlab/bin/GenomeAnalysisTK-3.8-0/GenomeAnalysisTK.jar"
params.msisensor_bin = "/ifs/data/molecpathlab/bin/msisensor/msisensor"
params.delly2_bin = "/ifs/home/kellys04/software/delly/src/delly"
params.delly2_bcftools_bin = '/ifs/home/kellys04/software/delly/src/bcftools/bcftools'
params.delly2_call_types = ["deletions":"DEL",
                            "duplications":"DUP",
                            "inversions":"INV",
                            "translocations":"BND",
                            "insertions":"INS"]
params.microsatellites = "/ifs/data/molecpathlab/bin/msisensor/hg19_microsatellites.list"
params.hg19_fa = "/local/data/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"

// R utilities script
params.r_util_script = "bin/tools.R"
// accessible through NextFlow without specifying 'bin'
params.deconstructSigs_make_signatures_script = "deconstructSigs_make_signatures.R"
params.vaf_distribution_plot_script = "VAF-distribution-plot.R"
params.gatk_avg_coverages_script = "GATK_avg_coverages.R"
params.subset_msisensor_microsatellite_list_script = "subset_msisensor_microsatellite_list.py"
params.subset_bam_bed_script = "subset_bam_bed.py"
// samples pairs sheet headers
params.tumor_header = "#SAMPLE-T"
params.normal_header = "#SAMPLE-N"
params.pairs_sheet_nomatch_value = "NA"

// variants sample sheet header
params.variant_sample_header = '#SAMPLE'


//
//
// BINARY DEPENDENCIES
//
//

// ANNOVAR annotation params
params.ANNOVAR_DIR="/ifs/data/molecpathlab/bin/annovar"
params.ANNOVAR_DB_DIR="/ifs/data/molecpathlab/bin/annovar/db/hg19"
params.annovar_protocol="refGene,1000g2015aug_all,clinvar_20170905,intervar_20170202,dbnsfp33a,esp6500siv2_all,kaviar_20150923,gnomad_exome,gnomad_genome,avsnp150,fathmm,eigen"
params.annovar_operation="g,f,f,f,f,f,f,f,f,f,f,f"
params.build_version="hg19"


params.trimmomatic_jar = "/local/apps/trimmomatic/0.33/trimmomatic-0.33.jar"
params.trimmomatic_contaminant_fa = "/ifs/home/id460/ref/contaminants/trimmomatic.fa"

//
//
//
// NextFlow configuration variables
//
//
//

process {
  executor='sge'
  queue='all.q'
  clusterOptions = '-cwd'

}

executor {
    queueSize = 250
}
